.formula1-main > h1{
    text-align: center;
    font-size: xxx-large;
}

.f1-comp{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.f1-comp-1{
    width: 400px;
    height: 350px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #E50914;
}

.f1-comp-1 > img {
    max-width: 400px;
    height: 250px;
    border-radius: 10px;

}

.f1-comp-1 > h1{
    background: transparent;
    text-align: center;
    margin-top: 20px;
}